.App {
  background: #444444
}

:root{
    --color-1: rgb(0, 255, 13);
    --color-2: rgb(85, 58, 85);
    --color-3: rgb(85, 87, 9);
}

.App-header {
    background: var(--color-2), var(--color-3); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, var(--color-1), var(--color-2), var(--color-3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right,var(--color-1), var(--color-2), var(--color-3)); /* Standard syntax (must be last) */
    color: white;
}

.App-footer {
  background: var(--color-2), var(--color-3); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--color-1), var(--color-2), var(--color-3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,var(--color-1), var(--color-2), var(--color-3)); /* Standard syntax (must be last) */
    color: White;
}

.App-link {
  color: #61dafb;
}

.ghost-input, p {
  color: #fff;
  border-bottom:1px solid #ddd;
}

::placeholder { 
  color: white;
  }

.chart-title{
  color: #000;
}

.ghost-input:focus{
  border-bottom:1px solid #f12711;
}

.ghost-input-small, p {
  color: #fff;
}

.ghost-input-small:hover, .ghost-input-small:focus, .ghost-input-small:disabled{
  background: var(--color-2); 
}

.ghost-input-button{
  color: #fff;
  background: var(--color-1);
}

.ghost-input-button:hover, .ghost-input-button:focus{
  background: var(--color-3); 
}

.ghost-input-button:disabled{
  background:#999999;
}

.home-button{
  color: #fff;
  background: var(--color-3);
}

.home-button:disabled{
  background:#999999;
}

.home-button:hover{
  background: var(--color-2); 
}

.App-footer li a {
  color: #FFF;
}

.title-select {
  color: white;
  background: var(--color-2); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--color-1), var(--color-2), var(--color-3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,var(--color-1), var(--color-2), var(--color-3)); /* Standard syntax (must be last) */
}

.App-footer li a:active, .App-footer li a:hover{
  background: var(--color-2); 
}

.content {
  background: var(--color-2); 
}

.switch-layout {
  background: var(--color-2), var(--color-3); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--color-1), var(--color-2), var(--color-3)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--color-1), var(--color-2), var(--color-3)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,var(--color-1), var(--color-2), var(--color-3)); /* Standard syntax (must be last) */
  color: white;
}

.switch-button, p {
  color: #fff;
}

.switch-button:hover, .switch-button:focus, .switch-button:disabled{
  background: var(--color-2); 
}