.App {
  text-align: center;
}

.App-header {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  clear: both;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}

.App-link {
  color: #61dafb;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  }

.parent {
  position: relative;
  height: 100%;
  min-height: 700px;
}

.parent .chart {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.graph-parent {
  position: relative;
  height: 100%;
  min-height: 750px;
}

.graph-parent .chart {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  padding: 10px 15px;
  margin: 20px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-align: center;
  border-bottom:1px solid #ddd;
}

::placeholder { 
  color: white;
  opacity: 1;
  }

.chart-title{
  font-weight:300;
  font-size: 18px;
  color: #000;
  padding: 20px;
}

.ghost-input:focus{
  border-bottom:1px solid #f12711;
}

.ghost-input-small, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 18px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  padding: 10px 10px;
  margin: 5px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

.ghost-input-small:hover, .ghost-input-small:focus{
  background:#f12711;
}

.ghost-input-button{
  display: block;
  font-weight:300;
  width: 80%;
  font-size: 60px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: #f5af19;
  padding: 10px;
  margin: 0 auto;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

.ghost-input-button:hover, .ghost-input-button:focus{
  background:#f12711;
}

.ghost-input-button:disabled{
  background:#999999;
}

.ghost-button {
  background-color: transparent;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

.App-footer li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.rows .row {
  display: inline-block;
}

.App-footer li a {
  font-size: 18px;
  color: #FFF;
  font-weight:300;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.App-footer li a:active, .App-footer li a:hover{
  background: #f12711;
}

.content {
  background-color: #f12711;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.daily {
  margin-bottom: 10px;
  font-size: 140px;
  text-align: center;
}

.total {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
